body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  font-family: "Credit Card", sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


@property --anim {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

.card {
  --anim: 0;
  --radius: 0.75rem;
  width: 20rem;
  height: 12rem;
  border-radius: var(--radius);
  position: relative;
  margin-top: 1%;
  margin-right: 2%;
  display: grid;
  transition: --anim 300ms ease
}

.card:hover {
  --anim: 1;
}

.cardglow,
.cardbg,
.cardborder,
.numbers {
  grid-area: 1/1/2/2;
}

.cardglow,
.cardborder,
.numbers {
  background: conic-gradient(#ff3b3b,
      #ffa801,
      #ffeb3b,
      #6cff3b,
      #0fbcf9,
      #5d62fb,
      #eb3bff,
      #ff3b3b);
}

.cardglow {
  border-radius: 0.25rem;
  filter: blur(calc(0.375rem + var(--anim) * 0.25rem)) hue-rotate(calc(20deg * var(--anim)));
}

.cardborder {
  border-radius: var(--radius);
  filter: hue-rotate(calc(20deg * var(--anim)));
}

.cardbg {
  margin: 0.125rem;
  border-radius: calc(var(--radius) - 0.125rem);
  background: none;
  backdrop-filter: contrast(50%) brightness(15%) blur(1.25rem);
  box-shadow: inset rgba(0, 0, 0, 0.5) 0 0 0.625rem;
  display: grid;
}

.logo {
  position: absolute;
  width: 3rem;
  height: 2.5rem;
  margin: 1.25rem;
  clip-path: polygon(25% 0%, 75% 0%, 100% 25%, 50% 100%, 0% 25%);
  backdrop-filter: brightness(666%) contrast(200%);
}

.numbers {
  background-clip: text;
  z-index: 20;
  color: transparent;
  text-align: center;
  padding-top: 32%;
  font-size: 1.325rem;
  font-weight: bolder;
  filter: hue-rotate(calc(20deg * var(--anim)));
}

.visalogo {
  position: absolute;
  bottom: -2.75rem;
  right: 0;
  width: 4rem;
  height: 4rem;
  margin: 1.25rem;
  backdrop-filter: brightness(666%) contrast(200%);
  clip-path: url(#svgPath)
}

:root {
  --dur: 3s;
  /* משך אנימציה */
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue), 90%, 10%);
    --fg: hsl(var(--hue), 90%, 50%);
  }
}

.truck {
  display: block;
  width: 12em;
  height: auto;
}

.truck__body,
.truck__line,
.truck__outside1,
.truck__outside2,
.truck__outside3,
.truck__wheel,
.truck__wheel-spin,
.truck__window1,
.truck__window2 {
  animation: truck-body var(--dur) linear infinite;
}

.truck__body {
  transform-origin: 17px 11px;
}

.truck__line {
  animation-name: truck-line;
}

.truck__outside1 {
  animation-name: truck-outside1;
}

.truck__outside2 {
  animation-name: truck-outside2;
}

.truck__outside3 {
  animation-name: truck-outside3;
}

.truck__wheel {
  animation-name: truck-wheel;
}

.truck__wheel-spin {
  animation-name: truck-wheel-spin;
  transform-origin: 6.5px 17px;
}

.truck__wheel:nth-child(2) {
  animation-delay: calc(var(--dur) * 0.0625);
}

.truck__wheel:nth-child(2) .truck__wheel-spin {
  transform-origin: 27px 17px;
}

.truck__window1 {
  animation-name: truck-window1;
}

.truck__window2 {
  animation-name: truck-window2;
}

/* Animations */
@keyframes truck-body {

  0%,
  12.5%,
  25%,
  37.5%,
  50%,
  62.5%,
  75%,
  87.5%,
  100% {
    animation-timing-function: cubic-bezier(0.33, 0, 0.67, 0);
    transform: translate(0, 0) rotate(0);
  }

  6.25%,
  18.75%,
  31.25%,
  43.75%,
  56.25%,
  68.75%,
  81.25%,
  93.75% {
    animation-timing-function: cubic-bezier(0.33, 1, 0.67, 1);
    transform: translate(0, 1px) rotate(-0.75deg);
  }
}

@keyframes truck-line {
  from {
    stroke-dashoffset: -18;
  }

  to {
    stroke-dashoffset: 78;
  }
}

@keyframes truck-outside1 {
  from {
    stroke-dashoffset: 105;
  }

  to {
    stroke-dashoffset: -105;
  }
}

@keyframes truck-outside2 {
  from {
    stroke-dashoffset: 168;
  }

  to {
    stroke-dashoffset: -42;
  }
}

@keyframes truck-outside3 {
  from {
    stroke-dashoffset: 192;
  }

  to {
    stroke-dashoffset: -18;
  }
}

@keyframes truck-wheel {

  0%,
  12.5%,
  25%,
  37.5%,
  50%,
  62.5%,
  75%,
  87.5%,
  100% {
    animation-timing-function: cubic-bezier(0.33, 0, 0.67, 0);
    transform: translate(0, 0);
  }

  6.25%,
  18.75%,
  31.25%,
  43.75%,
  56.25%,
  68.75%,
  81.25%,
  93.75% {
    animation-timing-function: cubic-bezier(0.33, 1, 0.67, 1);
    transform: translate(0, -1px);
  }
}

.circle-container {
  position: relative;
  width: 100px;
  height: 100px;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  animation: draw-circle 2s ease-in-out infinite;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  animation: draw-check 2s ease-in-out infinite;
}

@keyframes draw-circle {

  100%,
  0% {
    stroke-dasharray: 0, 283;
  }

  50% {
    stroke-dasharray: 283, 0;
  }
}

@keyframes draw-check {

  100%,
  0% {
    stroke-dasharray: 0, 100;
  }

  50% {
    stroke-dasharray: 100, 0;
  }
}

@property --anim {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

.iridiscent {
  margin-top: 0.5%;
  margin-right: 46%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5dvh;
  background-color: #43464b;
  overflow: hidden;
  position: relative;
  z-index: 0;
  padding: 1rem 3rem;
  border: 1px solid #cecbf6;
  border-radius: 9999px;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  box-shadow: inset 0 0 1rem 0 #f7f7f6;
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow 0.5s ease;
  background: linear-gradient(60deg, #b6a9e0 5%, #a09aed 15%, #fcd8bb 25%, #edcec2 35%, #dcc2cb 45%, #c7b5d7 55%, #cbb7d6 65%, #fceadd 75%, #e2c6c9 85%, #8588fb 95%, #dec4cb);
  background-size: 200% 200%;
  background-position: -100% -100%;
  animation: moving1 8s infinite;
}

@keyframes moving1 {
  20% {
    background-position: -130% -120%;
  }

  40% {
    background-position: -140% -100%;
  }

  70% {
    background-position: -110% -130%;
  }
}

.iridiscent:before {
  content: "";
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  width: calc(100% - 0.4rem);
  height: calc(100% - 0.4rem);
  border-radius: 9999px;
  border-top: 1px solid rgba(247, 247, 246, 0.5);
  border-right: 1px solid rgba(247, 247, 246, 0.5);
  box-shadow: 0 0 1rem 1rem rgba(199, 200, 201, 0.4);
  background: linear-gradient(180deg, transparent, #c7c8c9 160%);
  overflow: hidden;
}

.iridiscent:after {
  content: "";
  width: 200%;
  height: 200%;
  position: absolute;
  top: -50%;
  left: -50%;
  background: linear-gradient(150deg,
      #f7f7f6,
      transparent 20%,
      transparent 60%,
      #f7f7f6 75%,
      #f7f7f6);
}

.iridiscent:hover {
  box-shadow: inset 0 0 1rem 0 #f7f7f6, 0 0 1rem 0 #f7f7f6;
}

:root {
  --dur: 3s;
  /* משך אנימציה */
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue), 90%, 10%);
    --fg: hsl(var(--hue), 90%, 50%);
  }
}